* { 
    box-sizing: border-box;
    margin: 0%;
    padding: 0%
}

body {
    font-family: "Roboto", sans-serif;
    padding: 75px 0 0;
}

/* Navigation */

.nav-container {
    background: #FFFFFA;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    height: 72px;
    position: relative;
    top: -25px;
    left: 0;
    width: 100%;
}  

.nav{ 
    display: flex;
    justify-content: space-between;

    max-width: 992px;
    margin: 0 auto;
}
 
.logo {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 4rem;
    color: #000000;
    line-height: 72px;
    padding: 0 40px;
}

.nav-menu {
    display: flex;
    margin-right: 80px;
    list-style: none;
}

.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 72px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-item:nth-last-of-type(1) {
    margin: 0%;
}

.nav-menu-link {
    color: #000000;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 3px;
}

.nav-menu-link:hover {
    background-color: aliceblue;
    transition: 0.5s;
}

.nav-toggle {
    color: black;
    background: none;
    border: none;
    padding: 0 20px;
    font-size: 2rem;
    line-height: 72px;

    display: none;
}

/* Navigation small view */

@media (max-width: 768px) {
    body {
        padding-top: 55px;
    }
    
    /* Navigation */
    
    .nav-container {
        height: 60px;
    }  
    
    .logo {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 2rem;
        color: #000000;
        line-height: 60px;
        padding: 0 20px;
    }
    
    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin-right: 0px;
        list-style: none;
        background-color: antiquewhite;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;

        height: calc(100% - 60px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }
    
    .nav-menu-item {
        line-height: 60px;
    }

    .nav-menu-link:hover {
        background: none;
        color: white;
    }

    .nav-toggle {
    display: block;
}

    .nav-menu_visible {
        left: 0;
    }
}

/* Header */

.header-container {
    background: rgba(1, 132, 127, 0.5) url("images/bg-shape.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    display: flex;
    min-width: 320px;
 
 
    flex-wrap: wrap;
    padding: 1em 0;
}

header {
    align-items: center;
    justify-content: space-between;
    position: relative; 
    line-height: 50px;

}

header div .hero-image {
    align-items: left;
    width: 80%;
    position: relative;
}

header h1 {
   
    position: relative;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #021718;
    margin-bottom: 2rem;
    text-align: left;
    width: 100%;
}

header p {
    display: flex;
    position: relative;
    font-size: 21px;
    line-height: 42px;
    color: #021718;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 48px;
    text-align: left;
}

header a {
    display: flex;
    position: relative;
    font-size: 24px;
    color: #FFFFFA;
    text-decoration: none;

    background: #4952A6;
    border-radius: 8px;
    padding: 12px 48px;
    display: inline-block;
    transition: 300ms;
    margin: 1rem;
    
}

header a:hover {
    transform: translateY(-8px);
}


/* Main */

.sobre-mi {
    display: flex;
    flex-wrap: wrap;
    position: center;
    text-align: center;
    width: 100%;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
    font-size: 24px;
    width: 50%;
    margin: 0 auto;
    
}

.estudios {
    display: flex;
    flex-wrap: wrap;
    position: center;
    text-align: center;
    width: 100%;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
    font-size: 24px;
    width: 50%;
    margin: 0 auto;
}

main h2 {
    display: flex;
    margin: 1rem;
    padding: 1rem;
    width: 100%;
}

.sobre-mi p{
    display: flex;
    font-size: 24px;
    line-height: 30px;
    color: #021718;
    
    color: #FFFFFA;
    background: rgba(73, 82, 166, 0.8);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    position: relative;
    text-align: left;
    padding: 1rem;
}

.estudios p{
    display: flex;
    font-size: 24px;
    line-height: 30px;
    color: #021718;

    color: #FFFFFA;
    background: rgba(73, 82, 166, 0.8);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    position: relative;

    text-align: left;
    padding: 1rem;
}

/* Footer */

.footer {
    background: #07393C;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    text-align: center;
    color: white;
}

/* Contacto */

.title {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    padding-bottom: 10px;
    font-size: 24px;
    color: black;
}

.wrapper{
    width: 80%;
    height: 50%;
    margin: 5% auto 0 auto;
}

.form{
    background: #FFFFFA;
    text-align: center;
    border-radius: 10px;
    width: 45%;
    height: 500px;
    margin: 30px auto 0 auto;
    padding: 10px 10px;
    animation: bounce 1.5s infinite;
}

.name{
    color: black;
    width: 100%;
    height: 30px;

}

::-webkit-input-placeholder{
    color: black;
    font-size: 20px;
}

.name:hover{
    height:30px;
    width:100%;
}

.email {
    height:30px;
    width:100%;

}

.email:hover{
    height:30px;
    width:100%;
}

.message {
    overflow: hidden;
    height: 100px;
    width:100%;

}

.message:hover{
   height: 100px;
    width:100%;
}

.submit{
    border-radius:5px;
    padding:10px;
    background: #4952A6;
    border: none;
    color: white;
    width: 100px;

    
}

.submit:hover{
    box-shadow: 15px 15px 15px 5px white
}

.entry{
    display: block;
    margin: 5px auto;
    padding: 10px;
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease 0s;
    box-shadow: 0px 0px 25px 2px #AAA;
    }
